.link {
  padding: 2px 5px;
  font-size: 1em;
}

.link,
.link:active,
.link:visited {
  color: #3f729b;
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  color: #2bbbad;
}

.linkSearch {
  padding: 2px 5px;
  font-size: 1em;
}

.linkSearch,
.linkSearch:active,
.linkSearch:visited {
  color: white;
  text-decoration: none;
}

.linkSearch:hover {
  color: black;
}